#p1 {
    width: 47%;
    float:left;
}

#p2 {
    width: 47%;
    float:right;
}

#output {
    clear: both;
}

#submit {
    clear: both;
    text-align: center;
}

.databox {
    text-align: left;
    border: 2px solid #d9f3fd;
    border-radius: 9px;
    margin: 20px;

    background-color: #0a2d32;
    box-shadow: 0px 0px 20px #d9f3fd;
}

.databox .content {
    margin: 20px;
}

.databox select {
    background-color: #444444;
    color: white;
}

.databox input {
    background-color: #444444;
    color: white;
}

.databox button {
    background-color: #444444;
    color: white;
}

.inner-databox {
    text-align: left;
    border: 2px solid #d9f3fd;
    border-radius: 9px;
    margin: 0px;
    margin-bottom: 20px;
}

#input {
}

#time {
    font-size: 75%;
    color: grey;
    margin: 20px;
}

#contact {
    color: grey;
    margin: 20px;
}

#raw_output {
}

.output_error {
    color: red;
}

#output_data {
    width: 100%;
}

#output_data td {
    width: 10%;
}

.output_section {
    width: 33%;
}

td.num {
    text-align: right;
}

td.center {
    text-align: center;
}

body {
    background-color: #0e4759;
    color: white;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:active {
    color: inherit;
}

a:hover {
    color: inherit;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

th {
    text-align: center;
}
